
/* REGLAS GENERALES */
 * {
    box-sizing: border-box;
    margin: 0;  
}

/*-----------------------------------------------------------*/

body {
    background-color: #f3e5d8;
    font-family: "Roboto", sans-serif;
}

/* encabezado de la pagina *//*------------------------------*/
header {
    display: flex;
    background-color: #255538;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    justify-content: space-between;

}
#mensaje_header {
    display: flex;
    list-style-type: none;
    color: white;
}

/*------------------------------------------------------------*/

/* zona imagen abajo header-----------------------------------*/

#imagen1 {
    background-image: url("../img/hero.jpg");
    margin: 20px;
    padding: 50px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
}
/*------------------------------------------------------------*/

/* abajo de primera imagen -----------------------------------*/

#abajo_imagen {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style-type: none;  
}

.recetas {
    background-color: #255538;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid black;
    color: white;
}
/*-------------------------------------------------------------*/

/* cuerpo del la pagina----------------------------------------*/

.main1 {
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

h2, h3, p {
    margin: 15px;

}

#tabla_1 {
    display: flex;  
}

#tab1 {
    width: 100%;
}

.tabla1 {
    display: flex;
    border-bottom: 2px solid black;
    margin: 15px ;
    gap: 400px;
}